* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Noto Sans JP', sans-serif;
}

#wait {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;
}

#info {
    position: absolute;
    padding: 5px;
    width: 100%;
    height: 15vh;
    bottom: 0;
    left: 0;
}

.cont {
    margin: 10px;
}

.btns {
    text-align: center;
}

.btns ul {
    display: flex;
}

.btns li {
    display: inline-block;
}

#info2 {
    position: absolute;
    margin: 10px;
    padding: 5px;
    top: 0;
    right: 0;
}

#link-github {
    display: inline-block;
    height: 32px;
}